* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    position: relative;

    &.hidden::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #333;
        z-index: 500;
    }
}

img {
    display: block;
    width: 100%;
}

div {
    background-image: var(--_img);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.fixed img {
    opacity: 0;
}

.context-menu {
    position: fixed;
    display: none;
    z-index: 1000;

    &.visible {
        display: block;
    }

    ul {
        list-style: none;
        border-radius: 1rem;
        border-top-left-radius: 0;
        overflow: clip;
        display: flex;
        flex-direction: column;
        background-color: #aaa;

        gap: 1px;

        li {
            background-color: #333;
            color: #fff;
            padding: 1rem;
            cursor: pointer;

            &:hover {
                background-color: #444;
            }
        }
    }
}

.imgWrapper {
    max-width: 50rem;
    margin-inline: auto;
}
