* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    position: relative;

    &.hidden::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #333;
        z-index: 500;
    }
}

img {
    display: block;
    width: 100%;
}

.horiScroll .imgWrapper {
    height: 100svh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.imgWrapper {
    width: 100svw;
    /* max-width: 50rem; */
    margin-inline: auto;
    /* container-type: inline-size; */

    div:has(img) {
        display: inline-block;
        background-image: var(--_img);
        background-size: 100%;
        background-attachment: fixed;
        background-position: center;
        position: relative;

        .controls-wrapper {
            display: none;
            position: absolute;
            inset: 1rem;
            left: calc(100cqw - var(--_control-width));

            .controls {
                --_control-width: 5rem;
                position: sticky;
                top: 1rem;
                bottom: 1rem;

                button {
                    cursor: pointer;
                    display: block;
                    font-family: "Material Symbols Rounded";
                    font-size: 2rem;
                    color: #fff;
                    width: 3rem;
                    aspect-ratio: 1;
                    outline: none;
                    border: none;
                    border-radius: 50%;
                    background-color: #333;
                    &:not(:last-child) {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }

        &:hover .controls-wrapper {
            display: block;
        }
        &:first-child .up-btn,
        &:last-child .down-btn {
            color: #aaa !important;
            cursor: not-allowed !important;
        }
    }
}

.fixed img {
    opacity: 0;
}

.context-menu {
    position: fixed;
    display: none;
    z-index: 1000;

    &.visible {
        display: block;
    }

    ul {
        list-style: none;
        border-radius: 1rem;
        border-top-left-radius: 0;
        overflow: clip;
        display: flex;
        flex-direction: column;
        background-color: #aaa;

        gap: 1px;

        li {
            background-color: #333;
            color: #fff;
            padding: 1rem;
            cursor: pointer;

            a {
                color: #fff;
                text-decoration: none;
            }

            &:hover {
                background-color: #444;
            }
        }
    }
}
